/* Default: light */
:root {
    --color-white: hsl(0, 0%, 100%);
    --color-very-light-gray: hsl(0, 0%, 98%);
    --color-dark-gray: hsl(0, 0%, 52%);
    --color-very-dark-blue: hsl(200, 15%, 8%);
}

.dark {
    --color-dark-blue: hsl(209, 23%, 22%);
    --color-very-dark-blue: hsl(207, 26%, 17%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;